main {
  width: 80%;
  margin: auto;
}

.card {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

form {
  display: none;
  width: 70%;
  margin: auto;
  margin-top: 30px;
}

.empty-card {
  text-align: center;
  display: none;
}
